<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Details</title>
    <link rel="stylesheet" th:href="@{/styles.css}" >
</head>
<body>

    <h2>Shankar Software Solutions</h2>
    <h3>Student Registration Details</h3>

    <table th:border="1">
        <tr>
            <td>Student Id</td>
            <td th:text="${student.sid}" />
        </tr>
        <tr>
            <td>Student Name</td>
            <td th:text="${student.sname}"/>
        </tr>
        <tr>
            <td>Student Email Id</td>
            <td th:text="${student.semail}"/>
        </tr>
        <tr>
            <td>Student Mobile No</td>
            <td th:text="${student.smobile}"/>
        </tr>
        <tr>
            <td>Student Address</td>
            <td th:text="${student.saddr}"/>
        </tr>
    </table>

</body>
</html>